*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
body
{
    border: 2px solid red;
}
header{
    border: 2px solid blue;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.left
{
    display: flex;
    height: 100%;
    align-items: center;
}
.left a img
{
    width: 130px;
}
.left ul{
    display: flex;
    gap: 25px;
    margin-left: 25px;
}
.left ul li
{
    list-style: none;
}
.right
{
    display: flex;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 25px;
}
.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
main{
    border: 2px solid cyan;
}
.slider
{
    border: 2px solid olive;
}
.buttons
{

    border: 2px solid green;
}
.cards{
    border: 2px solid purple;
}
footer
{
    border: 2px solid yellow;
}
